<!doctype html>

<html lang="{{ app.request.locale }}">
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block header %}
            <header class="header">

            </header>
        {% endblock %}

        {% block content %}
            <div class="container">

            </div>
        {% endblock %}

        {% block footer %}
            <footer class="footer">

            </footer>
        {% endblock %}
    </body>
</html>